mixin about()
    section#about.common-section
        .container
            .grid-container
                .chapter
                    h2 About us
                    blockquote
                        p TODO
                          | TODO
                    
                        p TODO
                          | TODO
