mixin pricing()
    section#services.common-section
        .container
            .grid-container
                .chapter
                    h2 Hinnat
                .chapter
                    blockquote
                        p
                          .col6 Tilinpäätös TMI (Tuloslaskelma ja tase) Veroilmoitus
                          .col6 alk.160€
                        p
                          .col6 Tilinpäätös TMI (ent.Tasekirja) Veroilmoitus
                          .col6 alk.250€
                        p
                          .col6 Perustamisilmoitus PRH:lle
                          .col6 alk.70€

                .chapter
                    blockquote
                        | Tulkkaus (suomi-venäjä) alk. 25€/h 
                        | Käännös (suomi-venäjä-englanti-viro) alk.25€/sivu 
                        | Käynnit viranomaisilla (esim. vero, kela, sairaala, poliisi,..) alk. 25€/h 
                        | Lomakkeiden, papereiden täyttäminen alk.15€ (vero,ulkomaalaisvirasto, kela) 
