mixin services()
    section#services.common-section
        .container
            .grid-container
                .chapter
                    h2 Accounting Services
                    blockquote
                        p TODO 
                          | TODO
                          | TODO

    section#services.common-section
        .container
            .grid-container
                .advantages
                    h2 Miksi valita meidät?
                    blockquote
                        p If you are planning to establish a business in Finland, or if you already have a business
                          | presence in Finland, we can serve you with all kind of bookkeeping, administration and
                          | tax issues as well as establishing and registration of a company. If you need help with
                          | the administration and bookkeeping for your Finnish company we can take care of all
                          | matters, such as:
                          |  Bookkeeping
                          |  Payroll accounting
                          |  Invoicing
                          |  Year-end closing
                          |  Tax returns
                          |  Tax consulting
                          |  Contacts with auditors and lawyers

