mixin about()
    section#about.common-section
        .container
            .grid-container
                .chapter
                    h2 Yritys
                    blockquote
                        p Tilitoimisto Eliitti Oy on perustettu vuonna 2017.
                          | Yrityksen toimiala on tilitoimistopalvelut ja konsultointipalvelut pienille ja
                          | keskisuurille yrityksille. Meillä on laaja kokemus pienyritysten taloushallinnosta:
                          | hoidetaan sekä rutiinit että haastavat asiat. Korkeakoulutettu henkilöstö tarjoaa
                          | laadukasta, luotettava osaavaa toimintaa.
                    
                        p Asiakkaan taloudellinen hyvinvointi on tärkein tavoite Tilitoimisto Eliitti Oy:lle!
                          | Huolehdimme että kirjanpito, tilinpäätös ja viranomaisilmoitukset ovat oikein ja
                          | toimitettu ajoissa. Lähetämme asiakkaille kuukausittain raportin. Raportti muodostuu
                          | välitilinpäätöksestä: tuloslaskelma, tase, pääkirja, päiväkirja ja kausiveroilmoitus.
                          | Yrityksen talouden seuranta on täsmällinen.
