mixin about()
    section#about.about-section
        .container
            .about-section__card
                header.about-section__card-header
                    h2 Yritys
                .about-section__card-info
                    | Tilitoimisto Eliitti Oy on perustettu vuonna 2017. Yrityksen toimiala on tilitoimistopalvelut ja
                    | konsultointipalvelut pienille ja keskisuurille yrityksille. Meillä on laaja kokemus pienyritysten
                    | taloushallinnosta: hoidetaan sekä rutiinit että haastavat asiat. Korkeakoulutettu henkilöstö
                    | tarjoaa laadukasta, luotettava osaavaa toimintaa.
                    
                    p &nbsp;
                    | Asiakkaan taloudellinen hyvinvointi on tärkein
                    | tavoite Tilitoimisto Eliitti Oy:lle! Huolehdimme että kirjanpito, tilinpäätös ja viranomaisilmoitukset
                    | ovat oikein ja toimitettu ajoissa. Lähetämme asiakkaille kuukausittain raportin. Raportti muodostuu
                    | välitilinpäätöksestä: tuloslaskelma, tase, pääkirja, päiväkirja, kausiveroilmoitus.
                    | Yrityksen talouden seuranta on täsmällinen.
