mixin pricing()
    section#services.common-section
        .container
            .grid-container
                .advantages
                    h2 Hinnat
                    blockquote
                        p TODO
                    
                        p TODO
