mixin services()
    section#services.common-section
        .container
            .grid-container
                .advantages
                    h2 Miksi valita meidät?
                    blockquote
                        p Autamme yrityksen perustamisesta - lopettamiseen saakka. Meille suurin osa uusista
                          | asiakkaista tulee nykyisten asiakkaidemme suosituksesta. Takaamme onnistuneen ja turvallisen
                          | kirjanpidon tunnistamalla asiakkaan tarpeen ja tarjoamalla siihen sopivimman rätälöidyn
                          | ratkaisun. Luottamuksella pyritään pitkäkestoiseksi yhteistyökumppaniksi. Jokaisella
                          | asiakkalla on omaa yhteyshenkilö.

