mixin services()
    section#services.common-section
        .container
            .grid-container
                .advantages
                    h2 Yritys
                    blockquote
                        p Tilitoimisto Eliitti Oy on perustettu vuonna 2017. Yrityksen toimiala on tilitoimistopalvelut ja
                          | konsultointipalvelut pienille ja keskisuurille yrityksille. Meillä on laaja kokemus pienyritysten
                          | taloushallinnosta: hoidetaan sekä rutiinit että haastavat asiat. Korkeakoulutettu henkilöstö
                          | tarjoaa laadukasta, luotettava osaavaa toimintaa.
                    
                        p Asiakkaan taloudellinen hyvinvointi on tärkein
                          | tavoite Tilitoimisto Eliitti Oy:lle! Huolehdimme että kirjanpito, tilinpäätös ja viranomaisilmoitukset
                          | ovat oikein ja toimitettu ajoissa. Lähetämme asiakkaille kuukausittain raportin. Raportti muodostuu
                          | välitilinpäätöksestä: tuloslaskelma, tase, pääkirja, päiväkirja, kausiveroilmoitus.
                          | Yrityksen talouden seuranta on täsmällinen.


    section#services.common-section
        .container
            .grid-container
                .advantages
                    h2 Miksi valita meidät?
                    blockquote
                        p Autamme yrityksen perustamisesta - lopettamiseen saakka. Meille suurin osa uusista
                          | asiakkaista tulee nykyisten asiakkaidemme suosituksesta. Takaamme onnistuneen ja turvallisen
                          | kirjanpidon tunnistamalla asiakkaan tarpeen ja tarjoamalla siihen sopivimman rätälöidyn
                          | ratkaisun. Luottamuksella pyritään pitkäkestoiseksi yhteistyökumppaniksi. Jokaisella
                          | asiakkalla on omaa yhteyshenkilö.

