mixin team()
    section#team.common-section
        .container
            header.common-section__header
                h2 Our Team
                p Donec convallis pretium erat in varius
            .team
                .team__member
                    img(src="static/images/team/1.jpg" alt="Elvira Tensina")
                    .team__member-info
                        h3.team__member-name Veronica Hunt
                        p.team__member-role CEO
                        p.team__member-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia nulla vel ornare interdum.

                .team__member
                    img(src="static/images/team/2.jpg" alt="Rene Thompson")
                    .team__member-info
                        h3.team__member-name Rene Thompson
                        p.team__member-role Project Manager
                        p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Suspendisse potenti.

                .team__member
                    img(src="static/images/team/7.jpg" alt="Lesa Morgan")
                    .team__member-info
                        h3.team__member-name Lesa Morgan
                        p.team__member-role Web Developer
                        p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Aliquam in nulla sem.
