mixin team()
    section#team.common-section
        .container
            header.common-section__header
                h2 Henkiöstö
                p Asiakaslähtöinen ja ammattitaitoinen tiimi
            .team
                .team__member
                    img(src="static/images/team/1.jpg" alt="Elvira Tensina")
                    .team__member-info
                        h3.team__member-name Elvira Tensina
                        p.team__member-role Kirjänpitäjä
                        p.team__member-descr 

                .team__member
                    img(src="static/images/team/3.jpg" alt="Margarita Batishcheva")
                    .team__member-info
                        h3.team__member-name Margarita Batishcheva
                        p.team__member-role Taloushallinnon assistentti
                        p.team__member-descr

                .team__member
                    img(src="static/images/team/2.jpg" alt="Dmitry Lyubchenko")
                    .team__member-info
                        h3.team__member-name Dmitry Lyubchenko
                        p.team__member-role Konsultantti
                        p.team__member-descr
