mixin about()
    section#about.common-section
        .container
            .grid-container
                .chapter
                    h2 О компании
                    blockquote
                        p Бухгалтерска компания Tilitoimisto Eliitti Oy была основана в 2017 году. Основная цель нашей
                          | работы с клиентами — это максимальное обеспечение финансовой защищенности их бизнеса. Не
                          | допущение претензий со стороны налоговой и других контролирующих органов. Сфера
                          | деятельности компании - бухгалтерские и консалтинговые услуги для компаний малого и
                          | среднего бизнеса. У нас есть большой опыт управления финансами для малого бизнеса: мы
                          | занимаемся как рутинными делами, так и сложными проблемами. Квалифицированные сотрудники
                          | обеспечивают высококачественную, надежную и компетентную деятельность.
                    
                        p Финансовое благополучие клиента является самой важной целью для Tilitoimisto Eliitti Oy! 
                          | Мы следим за тем, чтобы бухгалтерский учет, финансовая отчетность и уведомления налоговой
                          | и других контролирующих органов были своевременно представлены. Мы отправим ежемесячный
                          | отчет нашим клиентам. Отчет состоит из промежуточного отчета: отчета о прибылях и убытках,
                          | баланса, бухгалтерской книги, журнала и сезонной налоговой декларации.
