mixin header(args)
    - opts = args || {}
    header.main-header
        .first-nav
            .container
                nav.first-nav__links
                    ul
                        li
                            a(href="/") suomi
                        li
                            a.is-selected(href="/ru") по-русски
                        li
                            a(href="/en") english
                        //li
                        //    a(href="/") eesti

                a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Меню
        .second-nav.js-nav
            .container
                a.second-nav__logo: span TE
                nav.menu
                    ul
                        li
                            a.js-link.js-anchor.is-selected(href="#home") Home
                        li
                            a.js-link.js-anchor(href="#about") О нас
                        li
                            a.js-link.js-anchor(href="#services") Услуги
                        //li
                        //    a.js-link.js-anchor(href="#pricing") Цены
                        //li
                        //    a.js-link.js-anchor(href="#projects") Проекты
                        //li
                        //    a.js-link.js-anchor(href="#testimonials") Отзывы
                        li
                            a.js-link.js-anchor(href="#team") Наша команда
                        li
                            a.js-link.js-anchor(href="#contacts") Контакты
