mixin pricing()
    section#services.common-section
        .container
            .grid-container
                .chapter
                    h2 Цены
                .chapter
                    blockquote
                        h3 Бухгалтерия
                        p
                          .col6 0-30 операций
                          .col6 70€ + НДС
                        p
                          .col6 30-60 операций
                          .col6 85€ + НДС
                        p
                          .col6 61-100 операций
                          .col6 110€ + НДС
                        p
                          .col6 101-200 операций
                          .col6 175€ + НДС
                        p
                          .col6 201-250 операций
                          .col6 220€ + НДС
                        p
                          .col6 251 и больше
                          .col6 цена договорная

                        h3 Заработная плата
                        p
                          .col6 Расчет зар. платы/работник
                          .col6 20€ + НДС
                        p
                          .col6 Расчет суточных/работник
                          .col6 10€ + НДС
                        p
                          .col6 Расчет возмещений за километры/работник
                          .col6 10€ + НДС
                        p
                          .col6 Расчет прочих возмещений/работник
                          .col6 10€ + НДС

                        h3 Отправка отчетов в налоговое управление
                        p
                          .col6 Отчет по НДС в электронном виде (Katso)
                          .col6 15€ / мес. + НДС
                        p
                          .col6 Отчет по НДС по почте
                          .col6 20€ / мес. + НДС
                        p
                          .col6 Отчет по зарплате в электронном виде (Katso)
                          .col6 15€ / мес. + НДС
                        p
                          .col6 Отчет по зарплате по почте
                          .col6 20€ / мес. + НДС
                        p
                          .col6 Отчет по продажам в спец. систему налоговой (Katso)
                          .col6 10€ / мес. + НДС

                        h3 Прочие услуги
                        p
                          .col6 Выставление счетов
                          .col6 5€ / счет + НДС
                        p
                          .col6 Внечение ресконтры дебиторской и кредиторской задолденностей
                          .col6 20€ / мес + НДС
                        p
                          .col6 Платежные операции
                          .col6 5€ / платеж + НДС
                        p
                          .col6 Юридический адрес
                          .col6 30€ / мес + НДС
                        p
                          .col6 Отправка документов почтой
                          .col6 5€ / письмо + НДС
                        p
                          .col6 Регистрация фирм
                          .col6 цена договорная
                        p
                          .col6 Годовой отчет
                          .col6 90€ + НДС
                        p
                          .col6 Годовая налоговая декларация + декларация по зарплатам
                          .col6 90€ + НДС
                        p
                          .col6 Консультации
                          .col6 50€ + НДС

                .chapter
                    blockquote
                        | TODO
                        | TODO
                        | TODO
                        | TODO
