mixin services()
    section#services.common-section
        .container
            .grid-container
                .chapter
                    h2 Услуги
                    blockquote
                        p TODO 
                          | TODO
                          | TODO

    section#services.common-section
        .container
            .grid-container
                .advantages
                    h2 Почему выбирают нас?
                    blockquote
                        p Мы поможем Вам со всеми вопросами бухгалтерии: от ежемесячного бухгалтерского обслуживания до финансовой и налоговой отчетности!
                          | Если вы планируете создать бизнес в Финляндии или у вас уже есть фирма, мы оказываем
                          | все виды бухгалтерских услуг: бухгалтерский учет, управление и налоговые вопросы, а
                          | также поможем открыть и зарегистрировать компанию.
                          |
                          | Если вам или вашей компании в Финляндии нужна помощь с управлением и бухгалтерией, мы
                          | можем помочь во всех следующих вопросах:
                          |  Бухгалтерский учет
                          |  Расчет зарплат
                          |  Выписка счетов
                          |  Годовые отчеты
                          |  Налоговые декларации
                          |  Налоговые консультации
                          |  Контакты с аудиторами и юристами

