//- Website block library
include blocks_ru/about
include blocks_ru/contacts
include blocks_ru/footer
include blocks_ru/header
include blocks_ru/home
include blocks_ru/process
include blocks_ru/projects
include blocks_ru/pricing
include blocks_ru/services
include blocks_ru/team
include blocks_ru/testimonials
